/* Header */
header nav i.click + ul {
    right: auto;
    left: 0;
}

/* Aboute Me */
.about-me .container img {
    right: 0;
}


.about-me .container section i {
    margin-right: 0;
    margin-left: 15px;
}

/* My Skills */
.skills section.progress div span::before,
.skills section.progress div span::after {
    right: auto;
    left: 0;
    transform: translateX(-50%);
}

/* Portfolio */
.portfolio h2::before {
    transform: translateX(-20%);
}


.portfolio .projects section {
    margin-right: 0;
    margin-left: 15px;
}

.portfolio .projects section:nth-of-type(3),
.portfolio .projects section:nth-of-type(6),
.portfolio .projects section:nth-of-type(9) {margin-left: 0}


@media (max-width: 991px) {
    .portfolio .projects section {
        margin-right: 0;
        margin-left: 15px;
    }

    .portfolio .projects section:nth-of-type(2),
    .portfolio .projects section:nth-of-type(4),
    .portfolio .projects section:nth-of-type(6) {margin-left: 0}

    .portfolio .projects section:nth-of-type(3) {margin-left: 15px; margin-right: 0}
}

@media (max-width: 767px) {
    .portfolio .projects section {
        margin-left: 0;
    }

    .portfolio .projects section:nth-of-type(3) {margin-left: 0}
}

.portfolio .projects section .text {text-align: right}


/* Button Top Page */
.top-page span:last-child {transform: translate(-15px, 21px)}

/* Button languge */
#languge {
    left: auto;
    right: 30px;
}